<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DS Algorithms/src/strings_test/Print_all_possible_words_from_phone_digits.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="strings_test.Print_all_possible_words_from_phone_digits"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DS Algorithms"/>
</launchConfiguration>
