<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Codechef/src/codejam_2018/string_5.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/codejam_2018/Output.txt}"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="codejam_2018.string_5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Codechef"/>
</launchConfiguration>
