<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/interview questions/src/DBS_hack2Hire_01JUNE2019/TestOne.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="DBS_hack2Hire_01JUNE2019.TestOne"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="interview questions"/>
</launchConfiguration>
