<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DS Algorithms/src/Knapsack/unbounded_knapsack_repetition_items_allowed.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Knapsack.unbounded_knapsack_repetition_items_allowed"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DS Algorithms"/>
</launchConfiguration>
